APPDB_HOST=localhost
APPDB_PORT=5432
APPDB_NAME=Persistent_AppDb_Aug20
APPDB_USER=postgres
APPDB_PASSWORD=admin

TIMESCALE_HOST=localhost
TIMESCALE_PORT=5432
TIMESCALE_NAME=Persistent_Timescale_Aug20
TIMESCALE_USER=postgres
TIMESCALE_PASSWORD=admin