APPDB_HOST=localhost
APPDB_PORT=5432
APPDB_NAME=your_appdb_name
APPDB_USER=your_db_user
APPDB_PASSWORD=your_db_password

TIMESCALE_HOST=localhost
TIMESCALE_PORT=5432
TIMESCALE_NAME=your_timescale_db_name
TIMESCALE_USER=your_db_user
TIMESCALE_PASSWORD=your_db_password
